@using java.lang
@using O2.DotNetWrappers.ExtensionMethods
@using O2.XRules.Database.APIs

@{

var jni4Net = new API_Jni4Net();
jni4Net.setUpBride();
var classLoader = jni4Net.systemClassLoader();

var intructionDetector = "org.owasp.appsensor.intrusiondetection.AppSensorIntrusionDetector".java_Class().ctor();
var intrusionStore =  intructionDetector.java_Invoke("getIntrusionStore");
var intrusionRecord =  intrusionStore.java_Invoke("getIntrusionRecordForSystemUser");

/*var exception = "java.lang.Exception".java_Class().ctor(new java.lang.Object[] { "NR1".java_String()} );
var appSensorIntrusion = "org.owasp.appsensor.AppSensorIntrusion".java_Class()
.ctor(new java.lang.Object[] { exception});

var addIntrusionToRecord = intrusionRecord.getClass().getMethods().Where((method)=>method.str().contains("addIntrusionToRecord")).first();
addIntrusionToRecord.invoke(intrusionRecord, new  java.lang.Object[] { appSensorIntrusion});
*/

var intrusionsObserved = intrusionRecord.java_Invoke("getCopyIntrusionsObserved");
var AppSensorIntrusions = intrusionsObserved.java_Invoke("toArray").getElementsFromArray();
}


<h4>AppSensor Logs</h4>

<a href="Create_AppSensor_Exception?ex=" >Create_AppSensor_Exception</a>
<br/><br/>

<table class="table table-striped table-condensed">
  <tr>
      <th>Exception message</th>
      <th>EventCode</th>
      <th>User</th>
      <th>Location</th>
      <th>TimeStamp</th>
  </tr>
  @foreach(var appSensorIntrusion in @AppSensorIntrusions)
  {
    <tr>
        <td>@appSensorIntrusion.java_Invoke("getSecurityExceptionLogMessage")</td>
        <td>@appSensorIntrusion.java_Invoke("getEventCode")</td>
        <td>@appSensorIntrusion.java_Invoke("getUser")</td>
        <td>@appSensorIntrusion.java_Invoke("getLocation")</td>
        <td>@appSensorIntrusion.java_Invoke("getTimeStamp").str();</td>
    </tr>
  }

</table>
